
@{
    ViewData["Title"] = "ChangePasswordConfirmation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <p>Home/ User/ Change Password</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->

<br />

<div class="container">
    <h2 style="text-align:center; font-weight:bold">Đổi mật khẩu thành công!</h2>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-md-4">
            <a asp-controller="Account" asp-action="DetailUser" class="btn btn-light">Quay về</a>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>

<br />
