
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <p>Home/ User/ Forgot Password</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<br />

<div class="container">
    <h2 style="text-align:center; font-weight:bold">Hãy kiểm tra email của bạn để lấy link reset mật khẩu!</h2>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-md-4">
            <a class="btn_1" asp-action="Login" asp-controller="Account">Về trang đăng nhập</a>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>

<br />
