
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Đặt lại mật khẩu thành công.Click vào <a asp-action="Login" asp-controller="Account">đây để đăng nhập</a>></h1>

