
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <p>Home/ User/ Reset Password</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<br />

<div class="container">
    <h2 style="text-align:center; font-weight:bold">Đặt lại mật khẩu thành công! Click vào <a asp-action="Login" asp-controller="Account">đây để đăng nhập</a>></h2>
</div>

<br />



