
@{
    ViewData["Title"] = "NotFound";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>không tìm thấy ID</h3>


<body>
    <script src="https://www.paypal.com/sdk/js?client-id=SB_CLIENT_ID">
 // Required. Replace SB_CLIENT_ID with your sandbox client ID.
    </script>
</body>