
@{ ViewData["Title"] = "Category";
                Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }
@model List<DoAn.Models.Domain.LoaiSp>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Danh sách thể loại</h1>
</div>
<p><a class="btn btn-primary" asp-action="Add" asp-controller="Category">Thêm thể loại</a></p>
<table class="table">
    <thead>
        <tr>
            <th>Mã thể loại</th>
            <th>Tên thể loại</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>@item.MaLoaiSp</td>
    <td>@item.TenLoaiSp</td>
    <td style="text-align:center">
        <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.MaLoaiSp" class="btn btn-outline-danger">Xoá</a>
        <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.MaLoaiSp" class="btn btn-outline-warning">Sửa</a>
    </td>
</tr>}
    </tbody>
</table>