
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <p>Home / About</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br />

<section class="contact-section ">
    <div class="container">
        <h4><strong>GIỚI THIỆU COMIC CORNER</strong></h4>
        <p>
            Comic Corner  Nhà xuất bản tổng hợp
            có chức năng xuất bản sách và văn hóa phẩm phục vụ thiếu nhi và các bậc phụ huynh trong cả nước,
            quảng bá và giới thiệu văn hóa Việt Nam ra thế giới.
            <br />
            Comic Corner có nhiệm vụ tổ chức bản thảo, biên soạn, biên dịch, xuất bản và phát hành các xuất
            bản phẩm có nội dung: giáo dục truyền thống dân tộc, giáo dục về tri thức, kiến thức… trên các lĩnh vực
            văn học, nghệ thuật, khoa học kỹ thuật nhằm cung cấp cho các em thiếu nhi cũng như các bậc phụ huynh
            các kiến thức cần thiết trong cuộc sống, những tinh hoa của tri thức nhân loại nhằm góp phần giáo dục
            và hình thành nhân cách thế hệ trẻ.
            <br />
            Đối tượng phục vụ của Comic Corner là các em từ tuổi nhà trẻ mẫu giáo (1 đến 5 tuổi), nhi đồng (6 đến 9 tuổi),
            thiếu niên (10 đến 15 tuổi) đến các em tuổi mới lớn (16 đến 18 tuổi) và các bậc phụ huynh.
        </p>
        <hr />

    </div>
    <div class="container">
        <p><strong>Tìm chúng tôi trên Google Map</strong></p>
        <div class="d-none d-sm-block mb-5 pb-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4611307817677!2d106.6652759146225!3d10.775950492321858!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752edb9ff98b9f%3A0xc0b4bddfb6d64358!2zSFVGTElUIE1lZGlhIEdyb3VwL0JhbiBUcnV54buBbiBUaMO0bmcgxJBvw6BuIC0gSOG7mWkgSFVGTElU!5e0!3m2!1sen!2s!4v1607955050997!5m2!1sen!2s" width="1150" height="480" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

        </div>



    </div>
</section>