
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <p>Home / Contact</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br />


<section class="contact-section ">
    <div class="container">
        <p><strong>Trụ sở chính</strong></p>
        <p>Địa chỉ: 828 Sư Vạn Hạnh, P13, Q10, TP.HCM</p>
        <p>Điện thoại: +84 632 052</p>
        <p>Email: contact@comiccorner.com</p>
        <p>Website: comiccorner.com</p>
        <hr />

    </div>
    <div class="container">
        <p><strong>Tìm chúng tôi trên Google Map</strong></p>
        <div class="d-none d-sm-block mb-5 pb-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4611307817677!2d106.6652759146225!3d10.775950492321858!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752edb9ff98b9f%3A0xc0b4bddfb6d64358!2zSFVGTElUIE1lZGlhIEdyb3VwL0JhbiBUcnV54buBbiBUaMO0bmcgxJBvw6BuIC0gSOG7mWkgSFVGTElU!5e0!3m2!1sen!2s!4v1607955050997!5m2!1sen!2s" width="1150" height="480" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

        </div>


        
    </div>
</section>
<!-- ================ contact section end ================= -->
