
@{
    ViewData["Title"] = "CheckoutSuccess";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <p>Home / checkout</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end-->

<div class="container">
    <h1>Cảm ơn quý khách đã mua hàng</h1>
    <a asp-controller="Home" asp-action="Index" class="btn_2">Về trang chủ</a>
</div>
