
@{
    ViewData["Title"] = "CheckoutSuccess";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<div class="container">
    <h1>Cảm ơn quý khách đã mua hàng</h1>
    <a asp-controller="Home" asp-action="Index" class="btn_2">Về trang chủ</a>
</div>
