
@{
    ViewData["Title"] = "CheckoutFail";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<div class="container">
    <h1>Lỗi sự cố bất ngờ! Xin quý khách vui lòng mua lại.</h1>
    <a asp-controller="Home" asp-action="Index" class="btn_2">Về trang chủ</a>
</div>
